<h1>Edit Profile</h1>

<div class="container w-25">
  <%= simple_form_for @user, url: update_user_path(@user), method: :patch do |f| %>
    <%= f.input :name, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;'}  %>
    <%= f.input :email, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;'}  %>
    <%= f.input :birthdate, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;'}  %>
    <%= f.input :password, label: "New Password", required: false, placeholder: "Change password here", input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;'}  %>
    <%= f.input :password_confirmation, label: "Confirm New Password", required: false, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;'}  %>

    <%= f.button :submit, 'Update', class: 'button-purple mb-4' %>
  <% end %>
</div>
