<h1>Edit Profile</h1>

<%= simple_form_for @user, url: update_user_path(@user), method: :patch do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :birthdate, as: :date %>
  <%= f.input :password, label: "New Password", required: false, placeholder: "Change password here" %>
  <%= f.input :password_confirmation, label: "Confirm New Password", required: false %>

  <%= f.button :submit, 'Update' %>
<% end %>
