<div class="content">
  <div class="profile-info">
    <div class="profile-avatar">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, alt: "User Avatar" %>
      <% else %>
        <%= image_tag 'default_user_icon.jpg', class: 'user-avatar' %>
      <% end %>
    </div>

    <div class="profile-numbers">
      <h2><%= @user.name %></h2>

      <div class="container">
        <% followed_count = Following.where(followed_user_id: @user.id).count %>
        <% if followed_count == 1 %>
          <p><%= followed_count %> Follower</p>
        <% elsif followed_count == 0 %>
          <p>0 Followers</p>
        <% else %>
          <p><%= followed_count %> Followers</p>
        <% end %>
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
        <% end %>
      </div>

      <div class="container-button">
        <% unless current_user == @user %>
          <% followed_relationship = Following.find_by(followed_user_id: @user.id, follower_id: current_user.id) %>
          <% if followed_relationship %>
            <%= button_to 'Unfollow', following_path(followed_relationship), method: :delete %>
          <% else %>
            <%= button_to 'Follow', followings_path(followed_user_id: @user.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="favorite-container">
    <div class="favorite-album">
      <div class="fav-title">
        <h4> Favorite Albums and Artists </h4>
      </div>
      <% if @user.favorites.any? %>
        <div class="fav-card">
          <%= render "shared/fav_card" %>
        </div>
      <% else %>
        <h5>No favorites to display.</h5>
      <% end %>
    </div>
  </div>

  <div class="container-review">
    <h2><%= @user.name %>'s reviews</h2>
    <% if @reviews.nil? %>
    <div class="artist-review_section">
      <ul class="list-unstyled">
        <% @reviews.each do |review| %>
          <div class="review-box">
            <div class="review-content">
              <div class="d-flex">
                <div class="review-header mb-2">
                  <%= image_tag "#{review.user.avatar}", class: "avatar dropdown-toggle profile-image mr-3", alt:"profile image"%>
                  <div class="row mr-4 user-info">
                    <strong class="mr-4" style="color: black"><%= review.user.name %></strong>
                    <span class="review-info text-muted mr-4">
                      <%= Following.where(followed_user_id: review.user).count %> followers - <%= review.user.reviews.count %> reviews
                    </span>
                  </div>
                </div>

                <div class="d-flex align-items-center like-margin">
                  <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
                  <% if liked_review %>
                    <%= link_to 'Unlike', like_path(Like.find_by(user: current_user, review_id: review.id)),
                    data: {turbo_method: :delete},
                    class: 'btn btn-warning btn-sm me-2' %>
                  <% else %>
                    <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post do |f| %>
                      <%= f.hidden_field :review_id, value: review.id %>
                      <%= f.submit "Like", class: 'btn btn-primary btn-sm me-2' %>
                    <% end %>
                  <% end %>
                  <span><%= review.likes_count %> likes</span>
                </div>
              </div>
              <p class="review-text"><%= review.content %> <i>(<%= review.rating %>/10)</i></p>
              <div class="review-footer">
                <span class="text-muted"><%= review.created_at.strftime("%d %B %Y") %></span>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
    <% else %>
      <h5>No reviews to display. Try adding a few and come back later.</h5>
    <% end %>
  </div>
</div>
