<div class="content">
  <div class="profile-info">
    <div class="profile-avatar">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, alt: "User Avatar" %>
      <% else %>
        <%= image_tag 'default_user_icon.jpg', class: 'user-avatar' %>
      <% end %>
    </div>

    <div class="profile-numbers">
      <h2><%= @user.name %></h2>

      <div class="container">
        <% followed_count = Following.where(followed_user_id: @user.id).count %>
        <% if followed_count == 1 %>
          <p><%= followed_count %> Follower</p>
        <% elsif followed_count == 0 %>
          <p>0 Followers</p>
        <% else %>
          <p><%= followed_count %> Followers</p>
        <% end %>
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
        <% end %>
      </div>

      <div class="container-button">
        <% unless current_user == @user %>
          <% followed_relationship = Following.find_by(followed_user_id: @user.id, follower_id: current_user.id) %>
          <% if followed_relationship %>
            <%= button_to 'Unfollow', following_path(followed_relationship), method: :delete %>
          <% else %>
            <%= button_to 'Follow', followings_path(followed_user_id: @user.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<h2><%= @user.name %>'s stats</h2>

<div class="favorite-container">
  <div class="favorite-album">
    <div class="fav-title">
    <h4> Favorite Albums and Artists </h4>
    </div>
    <% if @user.favorites.any? %>
    <div class="fav-card">
    <%= render "shared/fav_card" %>
    </div>
    <% else %>
      <h5>No favorites to display. Try adding a few and come back later.</h5>
    <% end %>
  </div>
</div>

<div class="container-review">
  <h2><%= @user.name %>'s reviews</h2>
    <div class="review-info">
      <% @reviews.each do |review| %>
        <%= render partial: 'reviews/review_card' %>
      <% end %>
    </div>
  </div>
</div>
