<div class="content">
  <div class="profile-info">
    <div class="profile-avatar">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, alt: "User Avatar" %>
      <% else %>
        <p>No avatar</p>
      <% end %>
    </div>

    <div class="profile-numbers">
      <h2><%= @user.name %></h2>

      <div class="container">
        <% followed_count = Following.where(followed_user_id: @user.id).count %>
        <% if followed_count == 1 %>
          <p><%= followed_count %> Follower</p>
        <% elsif followed_count == 0 %>
          <p>0 Followers</p>
        <% else %>
          <p><%= followed_count %> Followers</p>
        <% end %>
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
        <% end %>
      </div>

      <div class="container-button">
        <% unless current_user == @user %>
          <% followed_relationship = Following.find_by(followed_user_id: @user.id, follower_id: current_user.id) %>
          <% if followed_relationship %>
            <%= button_to 'Unfollow', following_path(followed_relationship), method: :delete %>
          <% else %>
            <%= button_to 'Follow', followings_path(followed_user_id: @user.id), method: :post %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="review-info">
    <h2><%= @user.name %>'s reviews</h2>
    <% @reviews.each do |review| %>
  <div class="review-card">
    <div class="container-user <%= (params[:controller] == 'users' && params[:action] == 'show') ? 'd-none' : '' %>">
      <%= link_to user_profile_path(review.user) do %>
        <p class="avatar"><%= image_tag review.user.avatar %></p>
      <% end %>
      <div class="row">
        <%= link_to user_profile_path(review.user) do %>
        <strong class="mr-2" style="color: white"><%= review.user.name %></strong>
        <% end %>
        <span class="review-info text-white">
        <%= Following.where(followed_user_id: review.user).count %> followers <%= review.user.reviews.count %> reviews
        </span>
    </div>
    </div>
    <div class="container-review">
      <div class="img-fluid">
        <%= link_to album_path(review.spotify_item_id) do %>
          <%= image_tag review.image %>
        <% end %>
      </div>
      <div class="user-review">
      <div class="review-rating">
        <h3><%= review.rating %>/10</h3>
      </div>
        <div class="review-content" style="italic">
          <p>"<%= review.content %>"</p>
        </div>
        </div>
    </div>
    <div class="social-button">
    <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
      <% if liked_review %>
        <%= link_to like_path(Like.find_by(user: current_user, review_id: review.id)),
          data: {turbo_method: :delete } do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post do |f| %>
          <%= f.hidden_field :review_id, value: review.id %>
          <button type="submit" name="commit" value="" data-disable-with="" aria-hidden="true" control-id="ControlID-3"><i class="fa-regular fa-heart"></i></button>
        <% end %>
      <% end %>
      <span><%= review.likes_count %> likes</span>
    </div>
  </div>
<% end %>

  </div>
</div>
