<div class="artist-search-container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card-header">Artists</div>
      <div class="artists-container">
        <div class="artist-search-card">
          <div class="card-body">
            <div class="row">
              <% @artists.first(4).each_with_index do |artist, index| %>
                <div class="col-3">
                  <div class="artist-card<%= 'hidden' if index >= 4 %>" id="artist-card-<%= index %>">
                    <% if artist.images.present? %>
                      <%= link_to artist_path(id: artist.id), class: "artist-link" do %>
                        <%= image_tag artist.images.first["url"], class: "artist-image" %>
                      <% end %>
                      <%= link_to artist.name, artist_path(id: artist.id), class: "artist-name" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <% if @artists.size > 4 %>
              <button id="show-more-artists" class="button-white mx-auto">Show More</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('show-more-artists').addEventListener('click', function() {
    document.querySelectorAll('.artist-card.hidden').forEach(function(card) {
      card.classList.remove('hidden');
    });
    this.remove();
  });
</script>

<div class="albums-container">
  <% if @albums.any? %>
    <div class="col-10 mx-auto">
      <div class="card-header">Albums</div>
      <% @albums.first(3).each do |album| %>
      <%= link_to album_path(id: album.id), class: "album-link-search" do %>
        <div class="album-card">
            <%= image_tag album.images.first["url"], class: "album-image-search" %>
          <div class="album-details">
            <h1><%= album.name %></h1>
            <h2><%= album.artists.map(&:name).join(', ') %></h2>
            <ul>
              <% album.tracks.first(5).each do |track| %>
                <li><%= track.name %></li>
              <% end %>
            </ul>

          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <% if @albums.size > 3 %>
      <button id="show-more-albums" class="button-white mx-auto">Show More</button>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
                <div class="card-header">Users</div>
      <% if @users.any? %>
        <div class="users-container">
          <div class="card">

            <div class="card-body">
              <% @users.each do |user| %>
                <div class="user-card">
                  <%= link_to user.name, user_profile_path(user), class: "user-name" %>
                       <% if user.avatar.present? %>
                      <%= image_tag user.avatar, class: "user-avatar" %>
                    <% else %>
                      <%= image_tag "default_user_icon.jpg", class: "user-avatar" %>
                    <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
