<% if @album %>
  <div class="align-items-center">
    <h1><%= @album.name %> <i>by</i>

    <div class="mt-auto">
      <div class="d-flex align-items-center margin-button">
        <% if Favorite.find_by(user: current_user, spotify_item_id: @album.id).present? %>
          <%= link_to 'Remove from Favorites', favorite_path(Favorite.find_by(user: current_user, spotify_item_id: @album.id)), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-warning me-2' %>
        <% else %>
          <%= simple_form_for Favorite.new, url: album_favorites_url(@album.id) do |f| %>
            <%= f.submit "Add as favorite ", class: 'btn btn-primary favorite' %>
          <% end %>
        <% end %>

      </div>
      <div class="col-md-8 d-flex flex-column align-items-center">
        <div class="d-flex">
          <div class="row align-items-start col-6 image-margin">
            <div>
              <% if @album.images.any? %>
                <%= image_tag @album.images.first["url"], class: "album-image img-fluid mb-3" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-8 tracks-margin">
            <div class="row">
              <h2 class="margin-tracks-album">Tracks</h2>
              <div class="col margin-top-tracks">
                <ol>
                  <% @tracks.first(@tracks.size / 2).each do |track| %>
                    <li><%= track.name %></li>
                  <% end %>
                </ol>
              </div>
              <div class="col">
                <ol start="<%= @tracks.size / 2 + 1 %>">
                  <% @tracks.last(@tracks.size / 2).each do |track| %>
                    <li><%= track.name %></li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

        <button class='btn btn-primary' data-action="click->review-form#displayForm" id='open-review-form'>Leave a review</button>

        <div id="review-form-container" class="container w-50 mt-3" data-review-form-target="form">
          <%= render 'reviews/form', review: @review, type: "album" %>
        </div>

    <div class="review_section">
      <h2>Reviews</h2>

      <ul class="list-unstyled">
        <% Review.where(spotify_item_id: params[:id], spotify_item_type: "album").each do |review| %>
          <div class="review-box">
            <div class="review-content">
              <div class="d-flex">
                <div class="review-header mb-2">
                  <%= image_tag "#{review.user.avatar}", class: "avatar dropdown-toggle profile-image mr-3", alt:"profile image"%>
                  <div class="row mr-4 user-info">
                    <strong class="mr-4" style="color: black"><%= review.user.name %></strong>
                    <span class="review-info text-muted mr-4">
                      <%= Following.where(followed_user_id: review.user).count %> followers - <%= review.user.reviews.count %> reviews
                    </span>
                  </div>
                </div>

            <div class="d-flex align-items-center like-margin">
              <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
              <% if liked_review %>
                <%= link_to 'Unlike', like_path(Like.find_by(user: current_user, review_id: review.id)),
                data: {turbo_method: :delete},
                class: 'btn btn-warning btn-sm me-2' %>
              <% else %>
                <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post do |f| %>
                  <%= f.hidden_field :review_id, value: review.id %>
                  <%= f.submit "Like", class: 'btn btn-primary btn-sm me-2' %>
                <% end %>
              <% end %>
              <span><%= review.likes_count %> likes</span>
            </div>

              </div>
              <p class="review-text"><%= review.content %> <i>(<%= review.rating %>/10)</i></p>
              <div class="review-footer">
                <span class="text-muted"><%= review.created_at.strftime("%d %B %Y") %></span>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p>Album not found.</p>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const openButton = document.getElementById('open-review-form');
    const formContainer = document.getElementById('review-form-container');
    openButton.addEventListener('click', function(event) {
      event.preventDefault();
      formContainer.classList.toggle('d-none');
    });
  });
</script>
