<% if @album %>
  <h1><%= @album.name %></h1>
  <% if @album.images.any? %>
    <%= image_tag @album.images.first["url"], class: "album-image" %>
  <% end %>
  <% if Favorite.find_by(user: current_user, spotify_item_id: @album.id).present? %>
    <%= link_to 'Remove from Favorites', favorite_path(Favorite.find_by(user: current_user, spotify_item_id: @album.id)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-warning' %>
  <% else %>
    <%= simple_form_for Favorite.new, url: album_favorites_url(@album.id) do |f| %>
      <%= f.submit "Add as favorite" %>
    <% end %>
  <% end %>
  <%= link_to 'Leave a review', '#', class: 'btn btn-primary', id: 'open-review-form' %>
  <div id="review-form-container" style="display: none;">
    <%= render 'reviews/form', review: @review, type: "album" %>
  </div>

  <ul>
    <% @tracks.each do |track| %>
      <li><%= track.name %></li>
    <% end %>
  </ul>

  <div class="review_section">
  <ul>
    <% Review.where(spotify_item_id: params[:id], spotify_item_type: "album").each do |review| %>
      <li>
        <%= review.rating %>
        <%= review.content %>
        <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
        <% if liked_review %>
          <%= link_to 'Unlike', review_like_path(id: liked_review.id, review_id: review.id),
              method: :delete,
              data: { confirm: "Are you sure you want to unlike this review?" },
              class: 'btn btn-warning' %>
        <% else %>
          <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post do |f| %>
            <%= f.hidden_field :review_id, value: review.id %>
            <%= f.submit "Like", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const openButton = document.getElementById('open-review-form');
      const formContainer = document.getElementById('review-form-container');

      openButton.addEventListener('click', function(event) {
        event.preventDefault();
        formContainer.style.display = 'block';
      });
    });
  </script>
<% else %>
  <p>Album not found.</p>
<% end %>
