<% if @album %>
  <h1><%= @album.name %></h1>
  <% if @album.images.any? %>
    <%= image_tag @album.images.first["url"], class: "album-image" %>
  <% end %>

 <!-- Liens pour ajouter/retirer des favoris -->
  <% if Favorite.find_by(user: current_user, spotify_item_id: @album).present? %>
    <%= link_to 'Remove from Favorites', album_favorite_path(@album), method: :delete, class: 'btn btn-warning' %>
  <% else %>
    <%= link_to 'Add to Favorites', album_favorites_path(@album), method: :post, class: 'btn btn-success' %>
  <% end %>

      <!-- Button to open the review form -->
  <%= link_to 'Leave a review', '#', class: 'btn btn-primary', id: 'open-review-form' %>

  <!-- Review form container (initially hidden) -->
  <div id="review-form-container" style="display: none;">
    <%= render 'reviews/form', review: @review %>
  </div>

  <ul>
    <% @tracks.each do |track| %>
      <li><%= track.name %></li>
    <% end %>
  </ul>

  <!-- Script to show/hide the review form -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var openButton = document.getElementById('open-review-form');
      var formContainer = document.getElementById('review-form-container');

      openButton.addEventListener('click', function(event) {
        event.preventDefault();
        formContainer.style.display = 'block';
      });
    });
  </script>
<% else %>
  <p>Album not found.</p>
<% end %>
