<%= simple_form_for review, url: album_reviews_path(params[:id]), data: {turbo: false} do |f| %>
  <div class="form-inputs">
    <%= f.input :spotify_item_id, input_html: {value: params[:id]}, input_html: { class: "d-none"} %>
    <%= f.input :spotify_item_type, input_html: {value: type}, input_html: { class: "d-none"} %>
    <%= f.input :rating, collection: 1..10 %>
    <%= f.input :content, as: :text %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
