<div class="form-container w-25">
  <%= simple_form_for review, url: album_reviews_path(params[:id]), data: {turbo: false} do |f| %>
    <div class="form-inputs">
      <%= f.input :spotify_item_id, input_html: {value: params[:id], class: "d-none"}, label: false %>
      <%= f.input :spotify_item_type, input_html: {value: type, class: "d-none"}, label: false  %>
      <%= f.input :rating, collection: 1..10, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 20px;', class: "bg-light"} %>
      <%= f.input :content, as: :text, input_html: {style: 'border: 3px solid #f8a3fcd1; border-radius: 10px;', class: "bg-light"}  %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'button-purple mb-3' %>
    </div>
  <% end %>
</div>
