<% @reviews.each do |review| %>
<div class="review-card">
    <section>
      <div class="profile-container <%#= (params[:controller] == 'users' && params[:action] == 'show') ? 'd-none' : '' %>">
        <div class="user-info">
        <%= link_to user_profile_path(review.user) do %>
        <div class="user-avatar">
          <p class="avatar"><%= image_tag review.user.avatar %></p>
        </div>
          <div class="name">
          <p><%= review.user.name %> says...</p>
          </div>
        <% end %>
      </div>
      </div>
    </section>
    <section>
      <div class="review-container">
        <% if review.spotify_item_id == 'artist' %>
          <%= link_to album_path(review.spotify_item_id) do %>
            <%= image_tag review.image if review.image %>
            <% end %>
          <% else %>
            <%= link_to artist_path(review.spotify_item_id) do %>
              <%= image_tag review.image if review.image %>
            <% end %>
            <% end %>
        <div class="user-review">
          <div class="review-rating">
            <h3><%= review.rating %>/10</h3>
          </div>
          <div class="review-content" style="italic">
            <p>"<%= review.content %>"</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="social-button">
        <div class="like-button">
        <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
        <div class="icon">
        <% if liked_review %>
          <%= link_to like_path(Like.find_by(user: current_user, review_id: review.id)),
            data: {turbo_method: :delete } do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post do |f| %>
            <%= f.hidden_field :review_id, value: review.id %>
            <button type="submit" name="commit" value="" data-disable-with="" aria-hidden="true" control-id="ControlID-3"><i class="fa-regular fa-heart"></i></button>
          <% end %>
          </div>
          <div class="cuantity">
            <p><%= review.likes_count %></p>
          </div>
        <% end %>
      </div>
      </div>
    </section>
  </div>
<% end %>
