  <% @reviews.each do |review| %>
    <div class="profile-container col-10">
    <div class="user-info-feed d-flex align-items-center ms-3 my-3">
        <div class="user-avatar">
              <%= link_to user_profile_path(review.user) do %>
          <%= image_tag review.user.avatar || 'default_user_icon.jpg', alt: 'User Avatar',class: "avatar-bordered" %>
        </div>
      <% end %>
      <div class="delete-margins"><%= review.user.name %> has posted a new review</div>
    </div>
      <div class="review-card mb-2">
        <div class="review-container">
          <% if review.image.nil? %>
            <%= image_tag 'default_user_icon.jpg' %>
          <% else %>
            <% if review.spotify_item_type == 'album' %>
              <%= link_to album_path(review.spotify_item_id) do %>
                <%= image_tag review.image || "default_user_icon.jpg" %>
              <% end %>
            <% else %>
              <%= link_to artist_path(review.spotify_item_id) do %>
                <%= image_tag review.image || "default_user_icon.jpg" %>
              <% end %>
            <% end %>
          <% end %>
          <div class="user-review ms-3">
            <div class="review-rating">
              <h3><%= review.rating %>/10</h3>
            </div>
            <div class="review-content" style="font-style: italic;">
              <p>"<%= review.content %>"</p>
              <p><%= review.likes_count %> likes</p>
            </div>
          </div>
        </div>
        <div class="social-button">
          <div class="like-button">
            <% liked_review = Like.find_by(user: current_user, review_id: review.id) %>
            <div class="icon">
              <% if liked_review %>
                <%= link_to like_path(Like.find_by(user: current_user, review_id: review.id)), method: :delete, remote: true do %>
                  <i class="fa-solid fa-heart"></i>
                  <p><%= review.likes_count %></p>
                <% end %>
              <% else %>
                <%= simple_form_for Like.new, url: review_likes_path(review_id: review.id), method: :post, remote: true do |f| %>
                  <%= f.hidden_field :review_id, value: review.id %>
                  <button type="submit" name="commit" value="" data-disable-with="" aria-hidden="true" control-id="ControlID-3"><i class="fa-regular fa-heart"></i></button>

                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
