<% @reviews.each do |review| %>
  <div class="review-card col-6">
    <div class="user-info <%= (params[:controller] == 'users' && params[:action] == 'show') ? 'd-none' : '' %>">
      <%= link_to user_profile_path(review.user) do %>
        <p class="avatar"><%= image_tag review.user.avatar %></p>
      <% end %>
       <%= link_to user_profile_path(review.user) do %>
        <h2><%= review.user.name %></h2>
        <% end %>
    </div>
    <div class="container-review">
      <div class="box col-4">
        <div class="img-fluid">
          <% album = RSpotify::Album.find(review.spotify_item_id) %>
          <%= link_to album_path(review.spotify_item_id) do %>
            <%= image_tag album.images.first['url'] %>
          <% end %>
        </div>
      </div>
      <div class="box-info">
        <div class="box-info-1">
          <h3><%= review.rating %>/10</h3>
        </div>
        <div class="box-info-2 font-italic">
          <p>"<%= review.content %>"</p>
        </div>
      </div>
    </div>
    <div class="container-social <%= (params[:controller] == 'users' && params[:action] == 'show') ? 'd-none' : '' %>">
      <p><%=  %> likes</p>
      <p><%=  %> comments</p>
    </div>
  </div>
<% end %>
