<% @reviews.each do |review|%>
  <div class="review-card col-6">
    <div class="profile-container">
      <h3><%= review.user.name %></h3>
    </div>
    <div class="container-review">
        <div class="box">
          <h2><%= review.content%></h2>
        </div>
          <div class="box">
          <p>Rating <%= review.rating %></p>
        </div>
    </div>
    <div class="container-social">
      <p><%=  %> likes</p>
      <p><%=  %> comments</p>
    </div>
  </div>
<% end %>
<%= console %>
