<% @reviews.each do |review| %>
  <div class="review-card col-3">
    <div class="user-info">
      <p class="avatar"><%= image_tag review.user.avatar %></p>
      <h3><%= review.user.name %></h3>
    </div>
    <div class="container-review">
      <div class="box col-4">
        <div class="img-fluid">
          <% album = RSpotify::Album.find(review.spotify_item_id) %>
          <%= link_to album_path(review.spotify_item_id) do %>
            <%= image_tag album.images.first['url'] %>
          <% end %>
        </div>
      </div>
      <div class="box">
        <p>Rating <%= review.rating %></p>
      </div>
      <div class="box">
        <h2><%= review.content %></h2>
      </div>
    </div>
    <div class="container-social">
      <p><%= %> likes</p>
      <p><%= %> comments</p>
    </div>
  </div>
<% end %>
<%= console %>
