<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/fd7a8ba2cd.js" crossorigin="anonymous"></script>
  </head>
  <nav>
    <%= render 'shared/navbar' %>
  </nav>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</html>
