<!DOCTYPE html>
<html>
  <head>
    <title>Kluster: Find, explore, and share your sounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/fd7a8ba2cd.js" crossorigin="anonymous"></script>
  </head>
  <nav>
    <%= render 'shared/navbar' %>
  </nav>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</html>
