<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag %>
  <script src="https://kit.fontawesome.com/fd7a8ba2cd.js" crossorigin="anonymous"></script>
</head>
<nav>
  <%= render 'shared/navbar' %>
</nav>
<body>
  <%= yield %>
</body>
<footer>
  <%= render 'shared/footer' %>
</footer>
</html>
