<!DOCTYPE html>
<html>
  <head>
    <title>Kluster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/fd7a8ba2cd.js" crossorigin="anonymous"></script>
  </head>
  <body>
  <%= render "shared/navbar" %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
